<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <style type="text/css">
    @media only screen and (max-width: 745px) {
      .respondfull[class=respondfull] {
        width: 100% !important;
      }

    }

    @media only screen and (max-width: 745px) {
      .respondfullc[class=respondfullc] {
        width: 100% !important;
        text-align: center !important;
      }

    }

    body {
      margin: 0px 0px 0px 0px;
      padding: 0px;
      background-color: #ffffff;
    }

    a {
      color: #499d68;
    }

    td {
      -webkit-text-size-adjust: none;
      border-collapse: collapse;
      font-family: Helvetica, Verdana, Arial;
      font-size: 12px;
      color: #7f7f7f;
    }

    table {
      border-collapse: collapse;
    }

    img {
      border: 0px;
    }

    .appleLinks a {
      color: #3c3c3c;
      text-decoration: none;
    }

    .Heading1 {
      /*@editable*/
      color: #499d68;
      /*@editable*/
      font-family: Helvetica, Verdana, Arial;
      /*@editable*/
      font-size: 25px;
      /*@editable*/
      line-height: 30px;
    }

    .Heading2 {
      /*@editable*/
      color: #499d68;
      /*@editable*/
      font-family: Helvetica, Verdana, Arial;
      /*@editable*/
      font-size: 18px;
      /*@editable*/
      line-height: 23px;
    }

    .Link {
      /*@editable*/
      color: #499d68;
      /*@editable*/
      font-family: Helvetica, Verdana, Arial;
      /*@editable*/
      font-size: 14px;
      /*@editable*/
      line-height: 17px;
    }

    .LinkWhite {
      /*@editable*/
      color: #FFFFFF;
      /*@editable*/
      font-family: Helvetica, Verdana, Arial;
      /*@editable*/
      font-size: 12px;
      /*@editable*/
      line-height: 17px;
      /*@editable*/
      font-weight: bold;
    }

    .bodyCopy {
      /*@editable*/
      font-family: Helvetica, Verdana, Arial;
      /*@editable*/
      font-size: 14px;
      /*@editable*/
      color: #555555;
      /*@editable*/
      line-height: 20px;
    }

    .snippetStyle {
      /*@editable*/
      font-family: Arial, Helvetica, Verdana;
      /*@editable*/
      font-size: 10px;
      /*@editable*/
      color: #3e3e3e;
      /*@editable*/
      line-height: 16px;
    }

    .FooterTerms {
      /*@editable*/
      font-family: Arial, Verdana;
      /*@editable*/
      font-size: 10px;
      /*@editable*/
      color: #959595;
    }
  </style>
</head>
<body style="margin: 0px 0px 0px 0px; background-color:#f6f6f6;" yahoo="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-left:20px;padding-right:20px;" bgcolor="#FFFFFF">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="respondfull" bgcolor="#3e3e3e">
        <tr>
          <td bgcolor="#FFFFFF"><a name="top"></a>&nbsp;</td>
        </tr>
      </table>
      <table width="510" border="0" cellspacing="0" cellpadding="0" class="respondfull" align="center" bgcolor="#3e3e3e">
        <tr>
          <td bgcolor="#FFFFFF">
            <table border="0" cellspacing="0" cellpadding="0" align="left" class="respondfullc">
              <tr>
                <td bgcolor="#FFFFFF" style="font-family:Arial, Verdana; font-size:10px; color:#3e3e3e;" mc:edit="snippettext">Work
                  out in style with Reebok and Les Mills&#39; apparel and footwear
                </td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" align="right" class="respondfullc">
              <tr>
                <td bgcolor="#FFFFFF" style="font-family:Arial, Verdana; font-size:10px; color:#3e3e3e;" align="right" class="respondfullc">
                  <span style="font-family:Arial, Verdana; font-size:10px; color:#3e3e3e;"><a href="*|ARCHIVE|*" style="text-decoration:none; color:#3e3e3e;">View online version</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; <a href="*|UNSUB|*" style="color:#3e3e3e; text-decoration:none;">Unsubscribe</a></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="respondfull" bgcolor="#3e3e3e">
        <tr>
          <td bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="deleteable" mc:repeatable>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#000000">
        <table width="557" border="0" cellspacing="0" cellpadding="0" align="center" class="respondfull">
          <tr>
            <td>
              <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td bgcolor="#000000" mc:label="header_image" mc:edit="header_image">
                    <a href="http://www.lesmills.com/ondemand/" target="_blank">
                      <%= image_tag(image_path("01be0115-a1ae-4b61-b0f7-c29792a9543a.jpg"),
                                    style: "display: block; width: 500px; height: 201px; margin: 0px;",
                                    width: "500", align: "none", border: "0", height: "201") %>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div class="deleteable" mc:repeatable>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <table width="557" border="0" cellspacing="0" cellpadding="0" align="center" class="respondfull">
          <tr>
            <td>
              <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td style="font-family:Helvetica, Verdana, Arial; font-size:14px; color:#555555; line-height:20px;" mc:label="sec1Edit" mc:edit="sec1edit">
                    <br>
                    <span style="color:#499d68; font-size:25px; line-height:25px">Hi <%= @client.first_name %>, </span><br>
                    <br>
                    Thank you for purchasing our 12 months Gift Card. Please find the information below:<br><br>
                    Gift Card Value: $<%= @client.price %><br>
                    Activation Code: <strong style="text-transform: uppercase; font-size: 150%;"><%= @client.gift_card_code %></strong>
                    <br>
                    With thanks,<br>
                    &nbsp;<br>
                    from Team Les Mills.<br>
                    <br>
                    &nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#201E1F">
      <table width="520" border="0" cellspacing="0" cellpadding="0" class="respondfull" align="center">
        <tr>
          <td bgcolor="#201E1F">
            <br>
            <br>
            <br>


            <table border="0" cellspacing="0" cellpadding="0" align="left" class="respondfullc">
              <tr>
                <td bgcolor="#201E1F" height="40" mc:label="logo2_image" mc:edit="logo2_image">&nbsp;
                  <center>
                    <a href="http://www.lesmills.com/" target="_blank">
                      <img align="none" border="0" height="19"
                           src="https://gallery.mailchimp.com/b88b3ba75f26335343bfecdc0/images/f4b650d3-9064-472d-9af5-d7d2d0dbf3d1.png"
                           style="display: block; width: 130px; height: 19px; margin: 0px;" width="130"></a>
                  </center>
                </td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" align="right" class="respondfullc">
              <tr>
                <td bgcolor="#201E1F" height="40" mc:label="Social2_image" mc:edit="social2_image">&nbsp;
                  <center>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td>
                          <a href="https://www.facebook.com/lesmills">
                            <%= image_tag(image_path("2f90307f-c973-46ad-a72e-21896341b48d.jpg"), align: "none", border: "0", height: "23",
                                width: "32", style: "width: 32px; height: 23px; margin: 0px;") %>
                          </a>
                        </td>
                        <td>
                          <a href="https://twitter.com/LesMills">
                            <%= image_tag(image_path("d034445c-47ea-46b6-8ecb-04aed5568091.jpg"), align: "none", border: "0", height: "23",
                                style: "width: 32px; height: 23px; margin: 0px;", width: "32") %>
                            </a>
                        </td>
                        <td>
                          <a href="https://instagram.com/lesmillstribe/">
                            <%= image_tag(image_path("1be1e8f5-6af7-4b3d-93f5-a7d8416b6917.jpg"), border: "0") %>
                          </a>
                        </td>
                        <td>
                          <a href="https://www.youtube.com/user/lesmillsgroupfitness">
                            <%= image_tag(image_path("7dba3125-23cc-4623-93db-ae3c3a9a1dad.jpg"), border: "0") %>
                          </a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table width="557" border="0" cellspacing="0" cellpadding="0" align="center" class="respondfull">
        <tr>
          <td style="font-family:Arial, Verdana; font-size:10px; color:#959595;padding-left:20px;padding-right:20px;" bgcolor="#201E1F" mc:label="sec7Edit" mc:edit="sec7edit">
            <br>
            <br>
            <span style="color:#959595; font-family:arial,verdana; font-size:10px">Les Mills Media Limited, 22 Centre St, Freemans Bay, Auckland, New Zealand. All rights reserved.<br>
<br>
<a href="http://www.lesmills.com/terms-of-use/on-demand/" style="color:#959595" target="_blank">LES MILLS On Demand Terms of Use</a> | <a href="http://www.lesmills.com/terms-of-use/" style="color:#959595" target="_blank">Lesmills.com Terms of Use</a> | <a href="http://www.lesmills.com/privacy-policy/" style="color:#959595" target="_blank">Privacy Policy</a>.<br>
<br>
<br>
<br>
<br>
<br>
&nbsp;</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>